{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Digi-3 - Page d'accueil{% endblock %}

{% block body %}
    <header class="home-header">
        <nav class="flex">
         <div class="header-logo">
                <img src="/path/to/your/image.jpg" alt="Logo Digi-3" class="">
                <p>DIGI-3<br>.</br></p>
            </div>
            <div class="header-buttons flex">
                <a href="{{ path('app_auth') }}" class="">Se connecter ou s'inscrire</a>
                
            </div>
       
        </nav>
    </header>
    <section class="flex-col">
       <div class="home-section flex-col">
            <div>
                <h1>Simplifiez le suivi des <br> salariés et des missions</h1>
                <p>Notre application enregistre et chiffre efficacement les activités réalisées par vos salariés</p>
            </div>
              <img src="/path/to/your/image.jpg" alt="Image gestion de projets" class="">
            
        </div>
    </section>
   

{% endblock %}

