{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Digi-3 - {% block page_title %}{% endblock %}{% endblock %}

{% block body %}
{% include 'includes/header.html.twig' with {'user': user} %}

<section class="parameter_landing flex">
    {% include 'parameter/_menu.html.twig' %}
    
    <div class="parameter_content">
        <div class="{% block page_class %}{% endblock %}-page">
            {# En-tête de la page #}
            <div class="{% block page_class %}{% endblock %}-header flex">
                <h2>{% block content_title %}{% endblock %}</h2>
                {% block header_actions %}{% endblock %}
            </div>

            {# Messages flash #}
            {% block flash_messages %}
                {% include 'parameter/components/_flash_messages.html.twig' %}
            {% endblock %}

            {# Contenu principal #}
            <div class="{% block page_class %}{% endblock %}-table">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>

    {# Données de page pour les permissions #}
    {% block page_data %}
        <div id="{% block page_class %}{% endblock %}-page-data" 
            data-can-edit="{{ canEdit ? '1' : '0' }}"
            data-can-delete="{{ canDelete ? '1' : '0' }}"
            style="display:none;">
        </div>
    {% endblock %}
</section>

{# Modales #}
{% block modals %}{% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% block page_scripts %}{% endblock %}
{% endblock %} 