{# Formulaire utilisateur #}
<form id="userForm">
    <input type="hidden" name="modalAction" id="modalAction" value="add">
    <input type="hidden" name="userId" id="userId">
    
    <div class="mb-3">
        <label for="firstName" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Nom</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Rôle</label>
        <select class="form-select" id="role" name="role" required>
            {% set roles = {
                'ROLE_USER': 'Utilisateur',
                'ROLE_DEVELOPER': 'Développeur',
                'ROLE_LEAD_DEVELOPER': 'Développeur Lead',
                'ROLE_PROJECT_MANAGER': 'Chef de Projet',
                'ROLE_RESPONSABLE': 'Responsable',
                'ROLE_ADMIN': 'Administrateur'
            } %}
            {% for roleValue, roleLabel in roles %}
                <option value="{{ roleValue }}">{{ roleLabel }}</option>
            {% endfor %}
        </select>
    </div>
</form> 