@use 'variables' as *;

.auth-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;
}

.auth-section {
    overflow: hidden;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    form {
        width: 50vw;
        gap: 4rem;
        display: flex;      
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 3rem;
        }

        label {
            font-size: 1.2rem;
            color: $white;
        }

        input {
            padding: 1rem 0.5rem;
            border-radius: 10px;
            border: 1px solid $white;
            background-color: transparent;
            width: auto;
            box-sizing: border-box;
            color: rgba(255, 255, 255, 0.7);

            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
        }

    }
}

.auth-decorate {
    width: 40%;
    padding: 4rem;
    background: $primary-gradient;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    height: 100vh;
    width: 50vw;
    background-image: linear-gradient($green, $blue);

    h3 {
        font-size: 3rem;
        color: $dark;
    }

    p {
        color: $dark;
        font-size: 1.5rem;
        line-height: 1.6;
        width: 75%;
    }

    a {
        padding: 0.5rem 1.5rem;
        border-radius: 15px;
        border: 2px solid $dark;
        color: $dark;
        font-weight: bold;
        transition: all 0.3s ease;

        &:hover {
            background: $dark;
            color: $white;
        }
    }
}

.auth-submit {
    padding: 1rem 3rem;
    background-image: linear-gradient($green, $blue);
    border: none;
    border-radius: 10px;
    color: $dark;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
}

.password-container {
    position: relative;
    width: 50% !important;

    .toggle-password {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        
        img {
            width: 20px;
            height: 20px;
            opacity: 0.6;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 1;
            }
        }
    }
}



