@use 'variables' as *;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
}

body {
    background-color: $dark;
    width: 100vw;
    height: 100vh;
    justify-content: space-between !important;
    overflow-x: hidden;
}

// Utility classes
.flex-col {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    background: none;
}

a {
    cursor: pointer;
}

a,
p,
h1,
h2,
h3,
h4,
label,
th,
td {
    text-align: center;
    color: $white;
}

// Styles pour la scrollbar
.need-scrollbar {
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        width: 9px;
        border-radius: 5px;
        border: 1px solid $dark-alpha-15;
        background: $dark-alpha-15;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgba(41, 41, 41, 0.56);
        border: 1px solid $dark-alpha-15;
        
        &:hover {
            background: #555;
        }
    }
} 