// Variables de couleurs
:root {
    --w: #ffffff;
    --w-c: rgba(255, 255, 255, 0.85);
    --w-cm: rgba(255, 255, 255, 0.5);
    --w-cp: rgba(255, 255, 255, 0.15);
  
    --d: rgba(41, 41, 41, 1);
    --d-c: rgba(41, 41, 41, 0.85);
    --d-cm: rgba(41, 41, 41, 0.5);
    --d-cp: rgba(41, 41, 41, 0.15);
  
    --b: #1cdaff;
    --g: #00fca8;
    --gr: #d9d9d9;
}

// Variables SCSS
$white: #ffffff;
$white-alpha-85: rgba(255, 255, 255, 0.85);
$white-alpha-50: rgba(255, 255, 255, 0.5);
$white-alpha-15: rgba(255, 255, 255, 0.15);

$dark: rgba(41, 41, 41, 1);
$dark-alpha-85: rgba(41, 41, 41, 0.85);
$dark-alpha-50: rgba(41, 41, 41, 0.5);
$dark-alpha-15: rgba(41, 41, 41, 0.15);

$blue: #1cdaff;
$green: #00fca8;
$grey: #d9d9d9;

// Couleur primaire
$primary: $blue;

// Gradients
$primary-gradient: linear-gradient(90deg, $blue, $green);
$header-gradient: linear-gradient(-130deg, $blue, $green); 