// Import des fichiers partiels
@use 'variables' as *;
@use 'base';
@use 'header';
@use 'auth';

// Styles spécifiques à la page d'accueil
.home-section {
    width: 100vw;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 6rem;
    gap: 4rem;

    div {
        gap: 2rem;
        width: 85%;
    }

    img {
        width: 85%;
        border-radius: 20px;
    }

    h1 {
        font-size: 5rem;
    }

    p {
        width: 85%;
        font-size: 2rem;
        background: $primary-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

// Styles pour la section des paramètres
.parameter_landing {
    height: 75%;
    padding: 1rem 3rem;
    align-items: flex-start;
    gap: 1rem;
}

.parameter_menu {
    padding: 2rem 1rem;
    height: 100%;
    width: 18%;
    border-radius: 2rem;
    background: $header-gradient;

    ul {
        height: 100%;
        gap: 1rem;
        justify-content: flex-start;

        a {
            width: 100%;
        }

        li {
            padding: 1rem;
            border-radius: 1.5rem;
            border: 2px solid $dark-alpha-15;
            background-color: $dark-alpha-15;
            font-size: 1.5rem;
            text-align: start;
            color: $dark;
        }
    }
}

.parameter_menu_active {
    background-color: $dark !important;
    color: $white !important;
}

.parameter_content {
    padding: 2rem;
    height: 100%;
    width: 75%;
    border-radius: 2rem;
    border: 2px solid $white-alpha-15;
    background-color: $white-alpha-15;
}

.btn-add {
    padding: 0.5rem 1rem;
    background: $primary-gradient;
    color: $dark;
    border-radius: 10px;
} 