/***************************REGLES GENERALES*************************/
html {
    scroll-behavior: smooth;
  }
  :root {
    --white: #fffef9;
    --black: #000000;
    --black-light: #292929;
    --blue: #1CDAFF;
    --green: #00FCA8;
  }
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Varela Round", sans-serif;
    font-weight: 400
    ;
  }
  body {
    background-color: var(--black-light);
    width: 100vw;
    height: 100vh;
    justify-content: space-between !important;
    overflow-x: hidden;
  }
  .flex-col {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    background: none;
  }
  a{
    cursor: pointer;
  }
  a,p,h1,h2,h3{
    text-align: center;
    color: var(--white);
  }
/****************************HOME PAGE**************************/
.home-section{
  width: 100vw;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 6rem;
  gap: 4rem;
}
.home-header nav{
  justify-content: space-between;
  padding: 2rem 5rem;
}
/*LOGO*/
.header-logo img{
  height: 6rem;
}
.header-logo p{
  font-size: 3rem;
}
/*TEXT GRADIENT*/
.header-logo-dot, .header-buttons a, .home-section p{
  background: linear-gradient(90deg, var(--blue), var(--green));
  -webkit-background-clip: text; /* Pour Safari */
  -webkit-text-fill-color: transparent; /* Pour Safari */
  background-clip: text; /* Pour d'autres navigateurs */
  color: transparent; /* Pour d'autres navigateurs */
}
/*LOGIN / SIGN UP*/
.header-buttons{
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  background: linear-gradient(var(--black-light), var(--black-light)) padding-box, linear-gradient(to right, var(--blue), var(--green)) border-box;
}
.header-buttons a{
  font-size: 1.5rem;
}
/**HOME-SECTION**/
.home-section div{
  gap: 2rem;
}
.home-section div,.home-section img, .home-section p{
  width: 85%;
}

.home-section h1{
  font-size: 5rem;
}
.home-section p{
  font-size: 2rem;
}
.home-section img{
  border-radius: 20px;
}
/***********************PARAMETER*******************/
.parameter_landing{
  color: var(--white);
}
.parameter_landing td, .parameter_landing th{
  color: var(--white);
}
.parameter_create{
  color: var(--white);
}
/*************************AUTHENTIFICATION LOGIN & SIGN UP****************************/
.auth-section{
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.auth-container form{
  width: 50vw;
  gap: 4rem;
}
.auth-container form h2{
  font-size: 3rem;
  color: var(--white);
}
/**Formulaire**/
#login_form, #registration_form{
  width: 65%;
  gap: 2rem;
}
#login_form div, #registration_form div{
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*Rester connecté, mdp oublié*/
#login_form div:nth-child(3){
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 1rem;
}
#login_form div:nth-child(3) input{
  order: 0;
  height: 20px;
  width: 20px;
}
#login_form div:nth-child(3) label{
  font-size: 1rem;
  order: 1;
  padding: 0;
}
#login_form, #registration_form, .auth-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login_form div label, #registration_form div label{
  font-size: 1.5rem;
  color: var(--white);
  padding-bottom: 1rem;
}
#login_form div input,#login_form div button, #registration_form div input, #registration_form div button{
  padding: 1rem 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--white);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
}
#login_form div input::placeholder, #registration_form div input::placeholder{
  color: rgba(255, 255, 255, 0.7);
}
#login_form div button, #registration_form div button{
  background-image: linear-gradient(var(--green), var(--blue));
  border: 0;
  color: var(--black);
}
/**AUTHENTIFICATION DECORATE**/
.auth-decorate{
  height: 100vh;
  width: 50vw;
  background-image: linear-gradient(var(--green), var(--blue));
  gap: 3rem;
}
/*TEXT*/
.auth-decorate h3, .auth-decorate p, .auth-decorate a{
  color: var(--black-light);
}
.auth-decorate p, .auth-decorate a{
  font-size: 1.5rem;
}
.auth-decorate h3{
  font-size: 3rem;
}
.auth-decorate p{
  width: 75%;
}
.auth-decorate a{
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: 2px solid var(--black-light);
}
