/***************************REGLES GENERALES*************************/
html {
  scroll-behavior: smooth;
}
:root {
  --white: #fffef9;
  --black: #000000;
  --black-light: #292929;
  --blue: #1cdaff;
  --green: #00fca8;
  --grey: #d9d9d9;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}
body {
  background-color: var(--black-light);
  width: 100vw;
  height: 100vh;
  justify-content: space-between !important;
  overflow-x: hidden;
}
.flex-col {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background: none;
}
a {
  cursor: pointer;
}
a,
p,
h1,
h2,
h3,
h4,
label,
th,
td {
  text-align: center;
  color: var(--white);
}
/****************************HEADER**************************/
header nav {
  justify-content: space-between !important;
  padding: 2rem 3rem;
}
/*LINKS*/
header nav ul {
  width: 45vw;
  justify-content: space-between !important;
}
header nav ul li a {
  font-size: 1.5rem;
}
/*LOGO*/
.header-logo img {
  height: 6rem;
}
.header-logo p {
  font-size: 3rem;
}
/*SEARCHBAR*/
.header-search input {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid var(--grey);
  background-color: transparent;
  font-size: 1rem;
}
.header-search input::placeholder,
.header-search input {
  color: rgba(217, 217, 217, 0.4);
}
/****************************HOME PAGE**************************/
.home-section {
  width: 100vw;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 6rem;
  gap: 4rem;
}

/*TEXT GRADIENT*/
.header-logo-dot,
.header-buttons a,
.home-section p {
  background: linear-gradient(90deg, var(--blue), var(--green));
  -webkit-background-clip: text; /* Pour Safari */
  -webkit-text-fill-color: transparent; /* Pour Safari */
  background-clip: text; /* Pour d'autres navigateurs */
  color: transparent; /* Pour d'autres navigateurs */
}
/*LOGIN / SIGN UP*/
.header-buttons {
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  background: linear-gradient(var(--black-light), var(--black-light))
      padding-box,
    linear-gradient(to right, var(--blue), var(--green)) border-box;
}
.header-buttons a {
  font-size: 1.5rem;
}
/**HOME-SECTION**/
.home-section div {
  gap: 2rem;
}
.home-section div,
.home-section img,
.home-section p {
  width: 85%;
}

.home-section h1 {
  font-size: 5rem;
}
.home-section p {
  font-size: 2rem;
}
.home-section img {
  border-radius: 20px;
}
/***********************PARAMETER*******************/
.parameter_landing {
  height: 100vh;
  padding: 3rem;
  justify-content: space-between;
}


/*PARAMETER MENU*/
.parameter_menu {
  padding: 2rem 1rem;
  height: 100%;
  width: 19%;
  border-radius: 2rem;
  background: linear-gradient(-130deg, var(--blue), var(--green));
}
.parameter_menu ul {
  height: 100%;
  gap: 1rem;
  justify-content: flex-start;
}
.parameter_menu ul li {
  padding: 1rem;
  width: 90%;
  border-radius: 1.5rem;
  border: 2px solid rgba(41, 41, 41, 0.15);
  background-color: rgba(41, 41, 41, 0.15);
  cursor: pointer;
}
.parameter_menu_active {
  background-color: var(--black-light) !important;
}
.parameter_menu_active a {
  color: var(--white) !important;
}
.parameter_menu ul li a {
  font-size: 1.5rem;
  text-align: start;
  color: var(--black-light);
}
/*PARAMETER CONTENT*/
.parameter_content {
  padding: 2rem 1rem;
  height: 100%;
  width: 75%;
  border-radius: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
}
.parameter_content h2, .parameter_content h3 {
  font-size: 2rem;
}
/********GENERAL PAGE**************/
.account-header {
  justify-content: space-between;
}
.account-header img {
  border-radius: 10px;
  height: 70px;
  width: 70px;
}
.account-page,
.account-page form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/*ACCOUNT-TOP*/
.account-info,
.account-info div,
.account-top-form div{
  gap: 1rem;
}
.account-top-form {
  justify-content: space-between;
}
.account-top-form div label {
  width: 100%;
  text-align: start;
}
.account-top-form div input {
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  background-color: var(--grey);
}
/*ACCOUNT-BOTTOM*/
.account-bottom-form {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7rem;
}
.account-bottom-form div {
  align-items: flex-start;
  gap: 1rem;
}
.account-bottom-form div div {
  align-items: flex-end;
}
.account-bottom-form div img {
  border-radius: 10px;
  height: 70px;
  width: 70px;
}
.btn-submit {
  font-size: 1rem;
  width: 300px;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(-130deg, var(--blue), var(--green));
}
/*GENERAL-SETTINGS*/
.general-settings {
  margin-top: 4rem;
}
.general-settings,.general-settings form, .email-preferences{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
/*THEME-SELECTION*/
.theme-selection {
  justify-content: flex-start;
  gap: 2rem;
}
.theme-option, .email-preferences{
  gap: 1rem;
}

/**************ABOUT-PAGE***************/
.about-page{
  gap: 2rem;
  align-items: flex-start;
}
.about-page p, .about-page h4{
  text-align: start;
  width: 100%;
}
.legal-mentions, .terms-of-service, .privacy-policy{
  gap: 1rem;
}
/*LEGAL-MENTIONS*/
.legal-mentions{
  align-items: flex-start;
}
/*SCROLLBAR ABOUT PAGE*/
.need-scrollbar{
  overflow-y: scroll;
}
/* Global */
.need-scrollbar::-webkit-scrollbar {
  width: 9px;
  border-radius: 5px;
  border: 1px solid rgba(41,41,41,0.15);
  background: rgba(41, 41, 41, 0.15);
}
/* Ascenseur */
.need-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background:  rgba(41,41,41,0.56);
  border: 1px solid rgba(41,41,41,0.15);
}
/* Handle on hover */
.need-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/******************CONFIG DIGI-3*****************/
.config{
  display: flex;
  flex-direction: column;

}
.config h3{
  padding-bottom: 4rem;
}

/*SEARCHBAR*/
.searchBar{
  align-self: flex-start;
  gap: 1rem;
}
.searchBar select{
  font-size: 1rem;
}
#searchForm{
  width: 200px;
  gap: 1rem;
}
#searchForm, .searchBar select{
  color: var(--grey);
  border: 2px solid var(--grey);
  background-color: transparent;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}
#searchForm input{
  background-color: transparent;
  font-size: 1rem;
  border: transparent;
}
#searchForm button img {
  height: 20px;
}

/*TABLEAU*/
.config table{
  margin-top: 1rem;
  padding: 1.5rem 1rem;

  border-radius: 30px;
  border: 2px solid rgba(41,41,41,0.56);
  background-color: rgba(41,41,41,0.15);
}
.config thead{
  width: 100%;
}
.config table tr{
  width: 100%;
  justify-content: space-between;
}
.config table th{
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid rgba(41,41,41,0.56);
  background-color: rgba(41,41,41,0.56);
  font-size: 1rem;
  color: var(--grey);
  width: 20%;
}









/*************************AUTHENTIFICATION LOGIN & SIGN UP****************************/
.auth-section {
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.auth-container form h2 {
  font-size: 3rem;
}
/**Formulaire**/
.auth-container form {
  width: 50vw;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login_form,
#registration_form {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 2rem;
}
/*FORM-1  DIV CONTAINER*/
#login_form div,
#registration_form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/*FORM-2 TEXT / INPUT*/
#login_form input,
#registration_form input    {
  padding: 1rem 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--white);
  background-color: transparent;
}
#login_form input,
#registration_form input,
#login_form label,
#registration_form label {
  font-size: 1.5rem;
  text-align: start;
}
#login_form input,
#registration_form input,
#login_form input::placeholder,
#registration_form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
/*FORM-3 STAY AUTHENTIFICATED*/
#login_form div:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
#login_form div:nth-child(3) input {
  order: 0;
  height: 20px;
  width: 20px;
}
#login_form div:nth-child(3) label {
  font-size: 1rem;
  order: 1;
  padding: 0;
} 
/*FORM-4 LOGIN/REGISTER BUTTON*/
.auth-submit {
  background-image: linear-gradient(var(--green), var(--blue));
  color: var(--black);
  padding: 1rem 3rem;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.5rem;
}






/**AUTHENTIFICATION DECORATE**/
.auth-decorate {
  height: 100vh;
  width: 50vw;
  background-image: linear-gradient(var(--green), var(--blue));
  gap: 3rem;
}
/*TEXT*/
.auth-decorate h3,
.auth-decorate p,
.auth-decorate a {
  color: var(--black-light);
}
.auth-decorate p,
.auth-decorate a {
  font-size: 1.5rem;
}
.auth-decorate h3 {
  font-size: 3rem;
}
.auth-decorate p {
  width: 75%;
}
.auth-decorate a {
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: 2px solid var(--black-light);
}
