/***************************REGLES GENERALES*************************/
html {
  scroll-behavior: smooth;
}
:root {
  --w: #ffffff;
  --w-c: rgba(255, 255, 255, 0.85);
  --w-cm: rgba(255, 255, 255, 0.5);
  --w-cp: rgba(255, 255, 255, 0.15);

  --d: rgba(41, 41, 41, 1);
  --d-c: rgba(41, 41, 41, 0.85);
  --d-cm: rgba(41, 41, 41, 0.5);
  --d-cp: rgba(41, 41, 41, 0.15);

  --b: #1cdaff;
  --g: #00fca8;
  --gr: #d9d9d9;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}
body {
  background-color: var(--d);
  width: 100vw;
  height: 100vh;
  justify-content: space-between !important;
  overflow-x: hidden;
}
.flex-col {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background: none;
}
a {
  cursor: pointer;
}
a,
p,
h1,
h2,
h3,
h4,
label,
th,
td {
  text-align: center;
  color: var(--w);
}
/****************************HEADER**************************/
header nav {
  justify-content: space-between !important;
  padding: 1rem 3rem;
}
/*LOGO*/
.header-logo img {
  height: 3rem;
}
/*LINKS*/
header nav ul {
  width: 50vw;
  justify-content: space-between !important;
}
header nav ul li a {
  font-size: 1.5rem;
  position: relative;
}
header nav ul li.active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #00e5ff 0%, #00bfa5 100%);
  border-radius: 2px;
}

/*SEARCHBAR*/
.header-search {
  padding: 0.75rem 1rem;
  border-radius: 10px;
  border: 2px solid var(--gr);
  background-color: transparent;
  font-size: 1rem;
}
.header-search::placeholder,
.header-search {
  color: rgba(217, 217, 217, 0.4);
}
/*LOGOUT*/
.logout-form {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #df6666;
  background-color: white;
}

.logout-form button img {
  height: 2rem;
}

.logout-dialog {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.logout-dialog-content {
  background-color: var(--d);
  border: 2px solid rgba(41, 41, 41, 0.25);
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
}

.logout-dialog-header {
  margin-bottom: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.logout-dialog-buttons {
  margin-top: 1.5rem;
  gap: 1rem;
}

.dialog-btn {
  padding: 10px 15px;
  background: linear-gradient(90deg, #00e5ff 0%, #00bfa5 100%);
}

.dialog-btn:nth-child(2) {
  background: #df6666;
}
/*ACCOUNT*/
.header-account {
  height: 3rem;
  width: 3rem;
}
.header-account img{
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
}
/****************************HOME PAGE**************************/
.home-section {
  width: 100vw;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 6rem;
  gap: 4rem;
}
/*TEXT GRADIENT*/
.header-logo-dot,
.header-buttons a,
.home-section p {
  background: linear-gradient(90deg, var(--b), var(--g));
  -webkit-background-clip: text; /* Pour Safari */
  -webkit-text-fill-color: transparent; /* Pour Safari */
  background-clip: text;
}
/*LOGIN / SIGN UP*/
.header-buttons {
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  background: linear-gradient(var(--d), var(--d))
      padding-box,
    linear-gradient(to right, var(--b), var(--g)) border-box;
}
.header-buttons a {
  font-size: 1.5rem;
}
/**HOME-SECTION**/
.home-section div {
  gap: 2rem;
}
.home-section div,
.home-section img,
.home-section p {
  width: 85%;
}
.home-section h1 {
  font-size: 5rem;
}
.home-section p {
  font-size: 2rem;
}
.home-section img {
  border-radius: 20px;
}
/***********************PARAMETER*******************/
.parameter_landing {
  height: 75%;
  padding: 1rem 3rem;
  align-items: flex-start;
  gap:1rem;
}
/*PARAMETER MENU*/
.parameter_menu {
  padding: 2rem 1rem;
  height: 100%;
  width: 18%;
  border-radius: 2rem;
  background: linear-gradient(-130deg, var(--b), var(--g));
}
.parameter_menu ul {
  height: 100%;
  gap: 1rem;
  justify-content: flex-start;
}
.parameter_menu ul li {
  padding: 1rem;
  width: 90%;
  border-radius: 1.5rem;
  border: 2px solid rgba(41, 41, 41, 0.15);
  background-color: rgba(41, 41, 41, 0.15);
  cursor: pointer;
}
.parameter_menu_active {
  background-color: var(--d) !important;
}
.parameter_menu_active a {
  color: var(--w) !important;
}
.parameter_menu ul li a {
  font-size: 1.5rem;
  text-align: start;
  color: var(--d);
}
/*PARAMETER CONTENT*/
.parameter_content {
  padding: 2rem;
  height: 100%;
  width: 75%;
  border-radius: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
}
.parameter_content h2 {
  font-size: 2.5rem;
}
/********GENERAL PAGE**************/
.account-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ACCOUNT-HEADER */
.account-header {
  display: flex; /* Ajouté pour aligner les éléments sur une ligne */
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid rgba(41, 41, 41, 0.15);
  background: rgba(41, 41, 41, 0.15);
  border-radius: 2rem;
}

.account-info {
  display: flex; /* Ajouté pour aligner les éléments enfants (infos et photo de profil) sur une ligne */
  justify-content: space-between; /* Pour espacer les éléments entre eux */
  gap: 2rem; /* Ajouté pour un espacement entre les sections */
  align-items: center; /* Alignement vertical des éléments */
  width: 100%;
}

.account-info div {
  display: flex; /* Pour afficher les éléments enfants sous forme de colonnes */
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

.account-info p:nth-child(1) {
  font-size: 1.5rem;
  text-align: end;
  width: 100%;
}

/* ACCOUNT-CHANGE PROFILE PICTURE */
#output {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  height: 5rem;
  width: 5rem;
  z-index: 0;
}

.profile-pic {
  position: relative;
  color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.profile-pic input {
  display: none;
}

.profile-pic label {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  z-index: 1;
  position: relative; /* Pour permettre à l'image d'apparaître correctement */
}

.profile-pic label img {
  height: 0rem;
}

.profile-pic label:hover img {
  height: 2rem; /* Amélioration de la visibilité de l'icône sur hover */
}

.profile-pic label:hover {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: rgb(250, 250, 250);
  margin-bottom: 0;
  transition: height 0.2s ease-in-out;
  border-radius: 10px;
}

/* Amélioration de l'espacement et de l'alignement des informations */
.title p {
  font-size: 1rem;
  color: white;
}

.title p strong {
  color: #249F84; /* Mettre en valeur les labels */
}

/*ACCOUNT-BODY*/
.account-body {
  width: 100%;
  justify-content: space-between;
  align-self: flex-start;
  gap: 1rem;
}
.account-body h3 {
  font-size: 1.75rem;
  width: 100%;
  text-align: start;
}
.account-email,
.account-password {
  align-self: flex-start;
  width: 50%;
  padding: 2rem;
  border: 2px solid rgba(41,41,41, 0.15);
  background: rgba(41,41,41, 0.15);
  border-radius: 2rem;
  gap: 2rem;
}
.account-body form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.account-body form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.account-body form input {
  width: 50%;
  padding: 0.5rem;
  border: 2px solid rgba(41,41,41, 0.15);
  background: rgba(41,41,41, 0.15);
  border-radius: 5px;
  color: var(--w);
}
.btn-submit {
  font-size: 1rem;
  width: 50%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(-130deg, var(--b), var(--g));
}
.btn-submit:active {
}
/**************ABOUT-PAGE***************/
.about-page {
  gap: 2rem;
  align-items: flex-start;
}
.about-page p,
.about-page h4 {
  text-align: start;
  width: 100%;
}
.legal-mentions,
.terms-of-service,
.privacy-policy {
  gap: 1rem;
}
/*LEGAL-MENTIONS*/
.legal-mentions {
  align-items: flex-start;
}
/*SCROLLBAR ABOUT PAGE*/
.need-scrollbar {
  overflow-y: scroll;
}
.need-scrollbar::-webkit-scrollbar {
  width: 9px;
  border-radius: 5px;
  border: 1px solid rgba(41, 41, 41, 0.15);
  background: rgba(41, 41, 41, 0.15);
}
.need-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(41, 41, 41, 0.56);
  border: 1px solid rgba(41, 41, 41, 0.15);
}
.need-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/******************CONFIG DIGI-3*****************/
.config {
  display: flex;
  flex-direction: column;
}
.config h3 {
  padding-bottom: 4rem;
}

/*SEARCHBAR*/
.searchBar {
  align-self: flex-start;
  gap: 1rem;
}
.searchBar select {
  font-size: 1rem;
}
#searchForm {
  gap: 1rem;
}
#searchForm {
  color: var(--gr);
  background-color: transparent;
  padding: 0.5rem 1rem;
}

#search_form_searchTerm {
  width: 10rem;
  color: var(--gr);
}
#searchForm input {
  background-color: transparent;
  font-size: 1rem;
  border: transparent;
}
#searchForm button img {
  height: 20px;
}

/*TABLEAU*/
.config table {
  margin-top: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 30px;
  border: 2px solid rgba(41, 41, 41, 0.56);
  background-color: rgba(41, 41, 41, 0.15);
  gap: 1rem;
}
.config thead {
  width: 100%;
}
.config thead tr {
  width: 90%;
  gap: 1rem;
}
.config thead tr th {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid rgba(41, 41, 41, 0.56);
  background-color: rgba(41, 41, 41, 0.56);
  font-size: 1rem;
  color: var(--gr);
  width: 20%;
}
#parameter_table {
  align-self: flex-start;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}
#parameter_table tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#parameter_table td {
  height: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid rgba(41, 41, 41, 0.16);
  background-color: rgba(41, 41, 41, 0.16);
  font-size: 1rem;
  color: var(--gr);
  width: 20%;
}
#parameter_table td:nth-child(5) {
  width: 5%;
}

/*DELETEBTN*/
#deleteBtn img {
  height: 20px;
}

/*************************AUTHENTIFICATION LOGIN & SIGN UP****************************/
.auth-section {
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.auth-container form h2 {
  font-size: 3rem;
}
/**Formulaire**/
.auth-container form {
  width: 50vw;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login_form,
#register_form {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 2rem;
}
/*FORM-1  DIV CONTAINER*/
#login_form div,
#register_form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/*FORM-2 TEXT / INPUT*/
#login_form input,
#register_form input {
  padding: 1rem 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--w);
  background-color: transparent;
  width: auto;
  box-sizing: border-box;
}
#login_form input,
#register_form input,
#login_form label,
#register_form label {
  font-size: 1.5rem;
  text-align: start;
}
#login_form input,
#register_form input,
#login_form input::placeholder,
#register_form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
/*FORM-3 STAY AUTHENTIFICATED*/
#login_form div:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
#login_form div:nth-child(3) input {
  order: 0;
  height: 20px;
  width: 20px;
}
#login_form div:nth-child(3) label {
  font-size: 1rem;
  order: 1;
  padding: 0;
}
/*FORM-4 LOGIN/REGISTER BUTTON*/
.auth-submit {
  background-image: linear-gradient(var(--g), var(--b));
  color: var(--d);
  padding: 1rem 3rem;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.5rem;
}

/**AUTHENTIFICATION DECORATE**/
.auth-decorate {
  height: 100vh;
  width: 50vw;
  background-image: linear-gradient(var(--g), var(--b));
  gap: 3rem;
}
/*TEXT*/
.auth-decorate h3,
.auth-decorate p,
.auth-decorate a {
  color: var(--d);
}
.auth-decorate p,
.auth-decorate a {
  font-size: 1.5rem;
}
.auth-decorate h3 {
  font-size: 3rem;
}
.auth-decorate p {
  width: 75%;
}
.auth-decorate a {
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: 2px solid var(--d);
}


/* Styles spécifiques pour le conteneur du mot de passe */
.password-container {
    position: relative;
    width: 50% !important;
}

.toggle-password {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
