{% extends 'base.html.twig' %} 

{% block title %}Digi-3 - Dashboard{% endblock %} 

{% block body %} 

    {% include 'includes/header.html.twig' %}

    <div class="dashboard-container">
        <div class="parameter_menu">
            <div class="user-info">
                <div class="user-avatar">
                    <img src="{{user.profilePictureUrl}}" alt="User Avatar" style="height: 30px;">
                </div>
                <div class="user-details">
                    <h3>{{ user.name }}</h3>
                    <p>{{ user.email }}</p>
                    <p>Salarié</p>
                </div>
            </div>

            <div class="user-stats">
                <div class="tasks">
                    <p>Taches</p>
                    <h3>85% <span class="up-arrow">↑</span></h3>
                </div>
                <div class="projects">
                    <p>Projets</p>
                    <h3>13 <span class="down-arrow">↓</span></h3>
                </div>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="#">Page d'accueil <i class="fas fa-home"></i></a></li>
                    <li><a href="#">Calendrier</a></li>
                    <li><a href="#">Efficacité des tâches</a></li>
                    <li><a href="#">Productivité individuelle</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="calendar">
                <h4>Calendrier</h4>
                <div class="calendar-box">
                    <table>
                        <thead>
                            <tr>
                                <th>Lun</th>
                                <th>Mar</th>
                                <th>Mer</th>
                                <th>Jeu</th>
                                <th>Ven</th>
                                <th>Sam</th>
                                <th>Dim</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                            </tr>
                            <!-- Autres jours du mois -->
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="project-info">
                <h4>12 Projets Actifs</h4>
                <div class="project-progress">
                    <div class="progress-bar">
                        <span class="progress" style="width: 66%;"></span>
                    </div>
                    <p>8 en cours</p>
                </div>
                <a href="#" class="more-info">En savoir plus</a>
            </div>

            <div class="efficiency-box">
                <h4>Efficacité des tâches</h4>
            </div>

            <div class="productivity-box">
                <h4>Productivité individuelle</h4>
                <p>Liste de tâches + un total</p>
                <p>Comparaison entre effort prévisionnel et réel</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
